<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/game_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/game_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.GameLink"
        tools:targetApi="31">
        <activity
            android:name=".ui.activity.StoreActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.HelpActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.SettingActivity"
            android:exported="false" />

        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />

        <activity android:name=".ui.activity.LinkActivity" />
        <activity android:name=".ui.activity.LevelActivity" />
        <activity android:name=".ui.activity.FailureActivity" />
        <activity android:name=".ui.activity.SuccessActivity" />
        <activity
            android:name=".ui.activity.MainActivity"
            android:exported="true"
            android:launchMode="standard">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>